<h1>Listing bookmarks</h1>

<table>
	<tr>
		<th><%= check_box_tag 'curr_usr' %> &nbsp;&nbsp;List Current User&nbsp;&nbsp;&nbsp;&nbsp;
		<%= select_tag "tags", options_from_collection_for_select(@tags, "id", "tags") %> </th>  
	<th><%= button_tag "Search", :id => "search_button" %> </th> 
	   </tr>
  <tr>
    <th>Url</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.url %></td>
    <td><%= bookmark.tags %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
